.form-container {
  background-color: rgb(51, 68, 85);
  padding: 16px;
  border-radius: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

#email-address,
#button {
  padding: 1px 2px;
  border-radius: 4px;
}

#button {
  cursor: pointer;
}

h3,
p {
  color: white;
}

span {
  color: orange;
}

button {
  background-color: rgb(248, 219, 53);
}

.form-container:hover input::placeholder {
  color: orange;
  /* background-color: #ddd; */
}

.form-container:hover input {
  background-color: #ddd;
}

.form-container:hover button {
  background-color: orange;
  color: #fff;
}
