@font-face {
  font-family: "Asap";
  src: url(../../fonts/fontawesome-free-6.5.2/webfonts/Asap-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
}

body {
  font-family: "Asap", sans-serif;
  background-color: #f5f5f5;
}

.main-content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.banner-home {
  position: relative;
  overflow: hidden;
}

.slide {
  position: relative;
  width: 100%;
  height: 400px;
}

.slide-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}

.slide-bg {
  background: url(../images/ha-noi-melody-residences-cover.jpg) no-repeat center
    center;
  background-size: cover;
  position: absolute;
  filter: brightness(70%);
  width: 100%;
  height: 100%;
  z-index: 1;
}

.slide-content {
  position: relative;
  z-index: 2;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

.item-body {
  background-color: rgba(236, 237, 240, 0.76);
  margin-bottom: 20px;
  border-radius: 8px;
  position: relative;
  max-width: 600px;
  padding: 20px;
}

.item-title a {
  font-size: 2rem;
  font-weight: bold;
  color: #bf4240;
  text-decoration: none;
  text-transform: capitalize;
}

.item-description p {
  font-size: 1rem;
  line-height: 1.5;
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.item-location {
  display: flex;
  align-items: center;
  font-size: 1rem;
}

.item-location i {
  margin-right: 10px;
}

.item-location span {
  text-transform: capitalize;
}

.item-price {
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #bf4240;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  bottom: 40px;
  right: 550px;
  transform: translateY(50%);
}

.text-uppercase {
  text-transform: uppercase;
}

.text-white {
  color: #fff;
}
