* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #8758ff;
}

.container {
  background-color: #1a1a40;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

h1 {
  margin-bottom: 30px;
  color: #fff;
}

.todoForm {
  display: flex;
  align-items: center;
}

input {
  flex: 1;
  padding: 10px;
  border: 1px solid #8758ff;
  color: #fff;
}

input:focus {
  border-color: #8758ff;
  outline: none;
}

input[type="text"] {
  background-color: #1a1a40;
}

button {
  padding: 10px 15px;
  border: 1px solid #8758ff;
  background-color: #8758ff;
  color: #fff;
  /* border-radius: 0 4px 4px 0; */
  cursor: pointer;
}

/* button:hover {
  background-color: #218838;
} */

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  background-color: #8758ff;
  color: #fff;
  border: 1px solid #8758ff;
  padding: 5px;
  border-radius: 4px;
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li.completed .task-text {
  text-decoration: line-through;
}

li .icons {
  display: flex;
  /* gap: 2px; */
}

li .icons button {
  background: none;
  border: none;
  cursor: pointer;
}

li .icons button .fa {
  font-size: 16px;
  color: #fff;
}

/* li .icons button .fa:hover {
  color: #dc3545; /* Color when hovered *
} */

.edit-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #8758ff;
  color: #fff;
  border-radius: 4px;
  margin-right: 10px;
}
