body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-image: url(./assets/images/reactjs.jpg);
  background-size: cover;
  background-position: center;
}

.box {
  position: absolute;
  top: 15%;
  bottom: 41%;
  left: 41%;
  right: 27%;
  /* transform: translate(-50%, -50%); */
  /* width: 400px;
  height: 400px; */
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: -4px 4px 2px 1px rgba(24, 7, 61, 0.623);
  border-radius: 2%;
  text-align: center;
}

.box h2,
.box h2 a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}
